*{
    
    box-sizing: border-box;
}
h1{
    margin-bottom: 10px;
}
body{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: black;
    border: 1px solid black;
    padding: 100px 60px;
}
.img{
    float: left;
    width: 300px;
}
