*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.img{
margin-bottom: 20px;
margin-top: 20px;
width: 200px;
}
header{
    text-align: center;
}
h1 strong{
    color: blue;
    font-weight: 1000;
}
h1{
    font-weight: 500;
    margin-bottom: 25px;
}
.text{
    margin-bottom: 20px;
}
.btn{
    text-decoration: none;
    border-radius: 20px;
    padding: 20px 50px;
    display: inline-block;
    background-color: gray;
    margin-left: 40px;
    color: white;
    text-align: center;
    margin: 0 10px;
}